*{
    margin:0;
    padding:0;
    background-color: black;
    
}
body{
    background: transparent;
}

header .image{
   background-image: url("assets/travel.jpeg");
   background-position: center center;
   background-repeat: no-repeat;
   height: 100vh;
   position:relative;
   background-size: max(1000px,100vw);
   display: flex;
   justify-content: center;
   align-items: center;
   opacity: 0.4;
   

}
header .image .text{
    background: none;
}
header .icons{
    position: absolute;
    left: 5px;
    top:5px;
    background: none;
    color: white;
    
}
h1{
    background: transparent;
    font-family: "Bebas Neue", sans-serif;
    font-weight: 400;
    font-size: 5rem;
    font-style: normal;
    color: red;
}
h2{
    background: transparent;
    font-family: "Bebas Neue", sans-serif;
    font-weight: 200;
    font-size: 2.5rem;
    font-style: normal;
    color: red;
    margin-bottom: 20px;
    

}
p{
  font-family: "Agdasima", sans-serif;
  font-weight: 400;
  font-style: normal;
  word-spacing: 2px;
  
  z-index: 200;
  font-size: 1.5rem;
}



.next{
    position: absolute;
   
    top:90vh;
    z-index: 28;

    
}

.next .flex1{
    
    display: flex;          
    flex-wrap: wrap;        
    align-items: center; 
    margin-bottom: 100px;   
    
}

.image1{
    flex: 1;  
    min-width: 100px;    
    display: flex;
    align-items: center;
    justify-content: center;          
    
          
  }
  
  .text1{
    flex: 1;                    
    color: white; 
    min-width: 200px;
    margin-right: 15px;
    margin-left: 15px;
    
  }
  
  img{
    max-width: 50%;       
    height: auto; 
    margin: 10px;    
    padding: 10px;    
    z-index: 200; 
  }


.footer{
    border-top: 4px solid green;
    background:black;
    text-align: center;
    color: #b2b2b2;
    font-size: 1.3rem;
    margin-top: 200px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.footer .container{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(30rem,2fr));
    background: black;
    grid-gap: 1rem;
    padding: 4rem 0;
    border-bottom: 1px solide #b2b2b2;
    display: flex;
    flex-direction: column;

}

.footer .container h3{
    color:#d64c78;
    font-size: 1.5rem;
    padding-bottom: .8rem;
    margin: 20px;
}
.footer .container input{
    width:60%;
    border:1px solid #282525;
    padding: .5rem .8rem;
    background: rgb(234, 194, 194);
    border-radius: 20px;
}
.footer .container ul{
    list-style: none;
    display: flex;
    justify-content: center;
    padding-top: 1rem;

}
.footer .container ul li a{
    color: #680f0f;
    margin-left: 10px;
    font-size: 18px;
}
.footer .container span{
    display: block;}


.footer .container input{
    color: black;
}

